<template>
  <div id="newTask">
    <input type="text" placeholder="New task" v-model="inputText"/>
    <button @click="sendText"><span>+</span></button>
  </div>
</template>

<script>

export default {
  name: "FormTask",
  data(){
    return{
      inputText: ''
    }
  },
  methods: {
    sendText(){
      this.$emit('addTask', this.inputText)
      this.inputText = ''
    }
  }
};
</script>

<style>
</style>
