<template>
  <div id="todoList">
    <ul>
      <task
        v-for="(task) in tasks"
        :key="task.id"
        :text="task.text"
        :id="task.id"
        :isComplete="task.isComplete"
        @done="$emit('checkTask', task.id)"
        @removeTask="$emit('removeTask', task.id)"
      ></task>
    </ul>
    <form-task  @addTask="addTask"></form-task>
  </div>
</template>

<script>
import FormTask from "./FormTask.vue";
import Task from "./Task.vue";
export default {
  components: { FormTask, Task },
  name: "ListTask",
  props: {
    newText: {
        type: String
    },
    tasks: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    addTask(text){
        this.$emit('addTask', text)
    }
  }
};
</script>

<style>
</style>