<template>
  <li :id="id" :class="computedClass">
    <div class="checkBox" :class="computedClass" @click="$emit('done', id)"></div>
    <!-- <div class="checkBox done"></div> -->
    <span>{{ text }}</span>
    <i class="fa fa-trash-o" @click="$emit('removeTask')"></i>
  </li>
</template>

<script>
export default {
  name: "TaskItem",
  props: {
    text: String,
    id: Number,
    isComplete: Boolean
  },
  computed: {
    computedClass (){
      if(this.isComplete){
        return 'done'
      }else{
        return ''
      }
    }
  }

};
</script>

<style lang="sass" scoped>

</style>