<template>
  <div>
    <h1>Things Todo</h1>
    <list-task
      :tasks="filteredTasks"
      @checkTask="checkTask"
      @removeTask="removeTask"
      @addTask="addTask"
    ></list-task>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";
import ListTask from "./components/ListTask.vue";
export default {
  components: { ListTask },
  name: "App",
  data() {
    return {
      tasks: [],
    };
  },
  computed: {
    filteredTasks() {
      return this.tasks;
    },
  },
  methods: {
    checkTask(id) {
      const taskUpdate = this.tasks.map((task) => {
        if (task.id === id) {
          task.isComplete = !task.isComplete;
        }
        return task;
      });
      this.task = taskUpdate;
    },
    removeTask(id) {
      const taskUpdate = this.tasks.filter((task) => task.id !== id);
      this.tasks = taskUpdate;
    },
    addTask(text) {
      // const lastElementIndex = this.tasks.length - 1
      // const lastElementId = this.tasks[lastElementIndex].id + 2
      const newTask = {
        id: uuidv4(),
        text: text,
        isComplete: false,
      };
      this.tasks = [newTask, ...this.tasks];
    },
  },
  created() {
    const newTask = {
      id: uuidv4(),
      text: "Learn Vue!",
      isComplete: false,
    };
    const newTask2 = {
      id: uuidv4(),
      text: "Do something awesome!",
      isComplete: true,
    };

    this.tasks = [newTask, ...this.tasks];
    this.tasks = [newTask2, ...this.tasks];
  },
};
</script>

<style lang="sass">
@import url("https://fonts.googleapis.com/css?family=Kristi|Roboto")

*
  padding: 0
  margin: 0

html
  width: 100%
  height: 100%

body
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  font-family: 'Roboto', sans-serif
  font-size: 15px
  background: linear-gradient(to bottom, #9cedff 0%, #3e82c3 100%)

h1
  font-family: 'Kristi', cursive
  text-align: center
  color: white
  margin-bottom: 20px
  font-size: 4em
  font-weight: normal

#todoList
  width: 300px
  box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.15)
  border-radius: 8px
  background: white
  overflow: hidden

  & ul
    list-style: none
    padding: 25px

  & ul li
    display: flex
    align-items: center
    line-height: 1
    user-select: none

  & ul li:not(:last-child)
    padding-bottom: 15px

  & ul li:hover
    cursor: text

  & ul li .checkBox
    width: 20px
    height: 20px
    border: 2px solid #ddd4ce
    border-radius: 50%
    margin-right: 15px
    position: relative
    display: flex
    opacity: 0.7

  & ul li .checkBox:hover
    cursor: pointer
    opacity: 1

  & ul li .checkBox, & ul li .checkBox:before
    transition: all 0.2s ease-in-out

  & ul li .checkBox:before
    content: "\f00c"
    font-family: "FontAwesome"
    margin: auto
    font-size: 0.8em
    color: #31ecb8
    opacity: 0
    transform: scale(0.5)

  & ul li .checkBox.done
    border-color: #31ecb8
    opacity: 1

  & ul li .checkBox.done:before
    opacity: 1
    transform: scale(1)

  & ul li i
    margin-left: auto
    padding-left: 15px
    opacity: 0
    color: #ff3c41
    transition: all 0.2s ease-in-out
    font-size: 1.2em

  & ul li:hover i
    opacity: 1
    cursor: pointer

  & ul li span
    position: relative

  & ul li span, & ul li span:before
    transition: all 0.2s ease-in-out

  & ul li span:before
    content: ''
    height: 1px
    background: #c3bbb6
    width: 0%
    top: 50%
    position: absolute
    left: 0

  & ul li.done span
    color: #c3bbb6

  & ul li.done span:before
    width: 100%

  & #newTask
    background: rgba(0, 0, 0, 0.05)
    padding: 15px
    display: flex

  & #newTask input
    flex: 1
    margin-right: 10px
    padding: 5px 10px
    border: none
    border-radius: 5px
    outline: none
    border-left: 2px solid #f65050
    font-family: 'Roboto', sans-serif

  & #newTask button
    outline: none
    border: none
    border-radius: 50%
    font-size: 1.5em
    color: white
    background: #f65050
    display: flex
    width: 35px
    height: 35px
    transition: all 0.15s ease-in-out

  & #newTask button span
    margin: auto

  & #newTask button:hover
    cursor: pointer
    background: #ff5c60

::placeholder
  color: rgba(0, 0, 0, 0.3)
</style>
